[Unit]
Description=Next.js Admin Application
After=network.target

[Service]
User=your_username
WorkingDirectory=/Users/sawyer/Library/CloudStorage/GoogleDrive-stephenvsawyer@gmail.com/My Drive/github/t3-shipyard/apps/admin
ExecStart=/usr/bin/pm2 start npm --name "admin-app" -- start
Restart=always

[Install]
WantedBy=multi-user.target
